/.last-package-update-day
backups/*
/custom.el
/elpa/
/network-security.data
/projectile-bookmarks.eld
/anaconda-mode/
/auto-save-list/
/emms/
/eshell/
/recentf
/transient/
/.dap-breakpoints
/.lsp-session-v1
